@font-face {
  font-family: "188Pixel";
  src: url("./fonts/188_Pixel-70.woff2") format("woff2"),
    url("./fonts/188_Pixel-70.woff Regular.woff") format("woff");
  /* Add additional src declarations for different font formats if needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OCRA";
  src: url("./fonts/OCR-ARegular.woff2") format("woff2"),
    url("./fonts/OCR-ARegular.woff") format("woff");
  /* Add additional src declarations for different font formats if needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("./fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  /* Add additional src declarations for different font formats if needed */
  font-weight: 100 1000;
  font-style: normal;
}

@keyframes controlsHoverIn {
  from {
    opacity: 0.55;
  }
  to {
    opacity: 0.8;
  }
}

.controlsHoverIn {
  animation: controlsHoverIn 0.25s ease-out 0s 1 normal forwards;
}

@keyframes controlsHoverOut {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0.55;
  }
}

.controlsHoverOut {
  animation: controlsHoverOut 0.25s ease-out 0s 1 normal forwards;
}

html {
  scroll-behavior: smooth;
}

main {
  max-width: 1550px;
  margin: auto;
  font-family: "Work Sans", sans-serif;
  font-weight: 350;
}

body {
  display: block;
  margin: 0;
  padding: 0;
}

section {
  padding-bottom: 5%;
  margin: 0 auto;
  width: 60%;
}

p {
  font-size: 1.5vw;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;

  font-size: 2vw;
}

a {
  font-weight: 500;
  color: #0000ff;
  text-decoration: inherit;
}
a:hover {
  color: #6f6fff;
}

.section-title {
  font-family: "188Pixel";
  padding-bottom: 5%;
  text-decoration: underline;
  text-underline-offset: 0.5vw;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.no-scroll {
  overflow: hidden;
}



.what-we-do {
  line-height: 3vw;
}



#open-all {
  margin: auto;
  display: flex;
  justify-content: center;
}

.ig-link {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 5%;
}

.ig-icon {
  padding-top: 5%;
  width: 7.5%;
}

.ig-icon:nth-child(2) {
  padding-left: 2.5%;
}

.ig-icon > img {
  width: 100%;
}

button {
  color: #888;
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}

#button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#show-more {
 
}

/* Event Widget Styling */

.hide-children div:nth-child(n+4) {
    display: none;
}

#body-wrapper {
  position: fixed;
  top: 0;
  overflow: scroll;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(36, 29, 47, 0.85);
  z-index: 5;
  cursor: pointer;
}

#all-events {
  background-color: rgb(255, 255, 255);
  width: 45vw;
  margin: auto;
  overflow: scroll;
  height: fit-content;
  z-index: 6;
  padding: 0 2vw;
}

.event {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vw;
  padding: 2vw;
  stroke: black;
  stroke-width: 0.1vw;
  stroke-dasharray: 24vw;
  stroke-dashoffset: 10vw;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='2' stroke-dasharray='17%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.event:hover {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='blue' stroke-width='5' stroke-dasharray='17%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.selected-event {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vw;
  padding: 2vw;

}

.selected-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw 2vw 1vw 2vw;
  background-color: #0000ff;
  color: white;
  border-radius: 0.75vw;
  align-self: flex-start;
  margin-top: 2vw;
}

.selected-title {
  font-family: "188Pixel";
  letter-spacing: normal;
  font-size: 3.5vw;
  text-decoration: underline;
  text-underline-offset: 1vw;
}

.selected-type {
  margin-top: 0;
  margin-bottom: 0.75vw;
  font-weight: 350;
}

.selected-subject {
  margin-top: 0;
  margin-bottom: 0.75vw;
  font-weight: 350;
}

.selected-description {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}
.event-details {
  display: flex;
  flex-direction: column;
}

.event-title {
  font-family: "188Pixel";
  letter-spacing: normal;
  font-size: 2vw;
}

.event-type {
  font-size: 1vw;
  padding-top: 2.5%;
}

.event-description {
}

.event-links {
  display: flex;
  align-self: flex-start;
}

.selected-links {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

.event-link {
  padding-right: 2vw;
  font-size: 1vw;
  padding-top: 1.25%;
}

.event-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw 2vw 1vw 2vw;
  background-color: #0000ff;
  color: white;
  border-radius: 0.75vw;
}

.event-month {
  font-size: 1vw;
  padding-bottom: 7.5%;
}

.event-day {
  font-size: 3vw;
}

/* DDAP Team Styling */

#team {
  display: grid;
  grid-template-columns: repeat(3, 3fr); /* 3 columns */
}

.team-member-profile {
  width: 100%;
  padding-bottom: 20%;
}

.team-member-headshot {
  width: 90%;
  padding-bottom: 5%;
}

.team-member-name {
  font-size: 2vw;
  font-family: "188Pixel";
  letter-spacing: normal;
}

.team-member-title {
  font-size: 1vw;
  transform: translateY(0.1vw);
}

/* Main Title Styling  */

.block1 {
  display: inline-block;
  padding: 1.25% 2.5% 1.25% 2.5%;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  top: 4.5vw;
  left: 4.75vw;
}

.block2 {
  display: inline-block;
  padding: 1.25% 2.5% 1.25% 2.5%;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  top: 22.2vw;
  left: 4.75vw;
}

.title {
  font-size: 4vw;
  font-family: "188Pixel";
  padding-bottom: 2.5%;
}

.title-section {
  padding-top: 5%;
}

#anchor {
  z-index: 2;
  position: fixed;
  top: 2.5%;
  left: 2.5%;
  width: 5%;
  padding: 1.25%;
  opacity: 0.6;
  border: 1px;
}

#anchor:hover {
  opacity: 1;
}

/* Garden.css */
.checkbox-grid {
  justify-items: center;
  align-items: center;
}

.checkbox {
  width: 1.25vw;
  height: 1.25vw;
  margin: 0.3vw 0.3vw 0.3vw 0.3vw;
  box-sizing: border-box;
  background-color: white;
  border: 0.1vw solid #bdbdbd;
  border-radius: 0.25vw 0.25vw;
  cursor: pointer;
  position: relative;
}

.checkbox:hover {
  border-color: #4f4f4f;
}

.checkbox::after {
  content: "";
  padding: none;
  width: 100%;
  height: 100%;
  display: none;
  /* background-color: #2196f3;  */
  border-radius: 0.15vw;
}

.checkbox.checked::after {
  display: block;
}

.checkbox.checked:hover {
  border-color: #919191;
}

/* If you want to style the checkbox as checked initially */
.checkbox.checked {
  /* background-color: #2196f3;
  border-color: #2196f3; */
}

/* Hide the actual checkbox input */
.checkbox input {
  display: none;
}
